body {
	//background-image: url("../img/Snow-Flurries-Generic_2.jpg");
	//background-color: dodgerblue;
}

h1 {
	text-align: center;
	margin-bottom: 0;
	color: blue;
	font-size: 250%
}
h1 img {
	vertical-align: middle;
}
.slider {
	width: 1100px;
	height: 500px;
	margin: auto;
	display: flex;
	align-items: center;
	//border:solid 3px khaki;
}

#pics {
	width: 900px;
	height: 480px;
	position: relative;
	margin: auto;
	//background-image: url("../img/111126_kis_manzara_resmi_hareketli_2.jpg");
	//border: solid 3px indigo;
}


#pic1 {
	width: 900px;
	height: 480px;
	position: relative;
	top: 0;
	left: 0;
	//z-index: 10;
	//border: solid 3px khaki;
	//background-image: url("../img/111126_kis_manzara_resmi_hareketli_2.jpg");
}

#x12 {
	border: solid 10px red;
	position: absolute;
	z-index: 10;
	//overflow: auto;
}

#pic2 {
	width: 900px;
	height: 480px;
	position: absolute;
	//position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	//background-image: url("../img/Featured-Image1.jpg");
	//border: solid 3px red;
}

/*#pic1_p0_0 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-image: url("../img/111126_kis_manzara_resmi_hareketli_2.jpg");
	//border: solid 3px red;
}*/

#pic1_p0_1 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 450px;
	z-index: 2;
	background: url("../img/111126_kis_manzara_resmi_hareketli_2.jpg") -450px 0px;
	//border: solid 3px red;
}

#pic1_p1_0 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 0px;
	z-index: 2;
	background: url("../img/111126_kis_manzara_resmi_hareketli_2.jpg") 0px -240px;
	//border: solid 3px red;
}

#pic1_p1_1 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 450px;
	z-index: 2;
	background: url("../img/111126_kis_manzara_resmi_hareketli_2.jpg") -450px -240px;
	//border: solid 3px red;
}





#pic2_p1 {
	width: 900px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url("../img/Featured-Image1.jpg");
	//border: solid 3px red;
}

#pic2_p2 {
	width: 900px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 0;
	z-index: 1;
	background: url("../img/Featured-Image1.jpg") 0 -240px;
	//border: solid 3px red;
}

#pic2_p0_0 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url("../img/Featured-Image1.jpg");
	//border: solid 3px red;
}

#pic2_p0_1 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 450px;
	z-index: 1;
	background: url("../img/Featured-Image1.jpg") -450px 0px;
	//border: solid 3px red;
}

#pic2_p1_0 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 0px;
	z-index: 1;
	background: url("../img/Featured-Image1.jpg") 0px -240px;
	//border: solid 3px red;
}

#pic2_p1_1 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 450px;
	z-index: 1;
	background: url("../img/Featured-Image1.jpg") -450px -240px;
	//border: solid 3px red;
}



















#pic3 {
	width: 900px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-image: url("../img/36488_2.jpg");
	//border: solid 3px aqua;
}

#pic3_p1 {
	width: 900px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-image: url("../img/36488_2.jpg");
	//border: solid 3px red;
}

#pic3_p2 {
	width: 900px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 0;
	z-index: 0;
	background: url("../img/36488_2.jpg") 0 -240px;
	//border: solid 3px red;
}

#pic3_p0_0 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-image: url("../img/36488_2.jpg");
	//border: solid 3px red;
}

#pic3_p0_1 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 450px;
	z-index: 0;
	background: url("../img/36488_2.jpg") -450px 0px;
	//border: solid 3px red;
}

#pic3_p1_0 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 0px;
	z-index: 0;
	background: url("../img/36488_2.jpg") 0px -240px;
	//border: solid 3px red;
}

#pic3_p1_1 {
	width: 450px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 450px;
	z-index: 0;
	background: url("../img/36488_2.jpg") -450px -240px;
	//border: solid 3px red;
}



















.arrow {
	//width: 100px;
	//height: 100x;
	//border: solid 3px indigo;
	overflow: hidden;
}

.arrow:hover {
	cursor: pointer;
}

.arrow:last-child img {
	//margin-left: -50px;
}








#fast_button {
	width: 900px;
	//height: px;
	margin: auto;
	display: flex;
	overflow: hidden;
	//border: solid 3px indigo;
}

#fast_button > div {
	margin-right: 10px;
	height: 52px;
	overflow: hidden;
}

#fast_button > div:hover {
	cursor: pointer;
	border: solid 3px indigo;
}

#fast_button > div > img {
	width: 100px;
}
















