.container {
	font-family: Arial, Verdana, sans-serif;
	font-size: 80%;
}


h2 {
	color: white;
	text-transform: uppercase;
	height: 27px;
	padding-left: 20px;
}
a {
	text-decoration: none;
}
.upper {
	text-transform: uppercase;
}


.container_wrapper1 {
	background-color: #292728;
	padding-top: 30px;
}
.content {
	overflow: auto;
	margin-left: 10px;
}
.content_wrapper1 {
	width: 700px;
	overflow: auto;
	float: left;
	margin-top: 0;
}



.section1 {
	background-color: white;
}
.section1 a {
	color: black;
	font-weight: bold;
}


.section1_article1 {
	width: 350px;
	float: left;
	padding-top: 0;
}
.section1_article1 h2 {
	background-image: url("../img/h2-confidential-heading-bg.gif");
	border-right: solid 1px black;
	padding-left: 20px;
	margin-bottom: 0;
	margin-top: 0;
}
.showbuzz {
	width: 350px;
	border-right: dotted 1px;
	margin-top: 0;
	padding-top: 10px;
}
.showbuzz_wrapper {
	width: 310px;
	margin: auto;
}
.section1_article1 .more {
	background-image: url("../img/h3-confidential-showbuzz-bg.gif");
	background-repeat: no-repeat;
	width: 300px;
	display: flex;
	justify-content: flex-end;
	height: 27px;
}
.section1_article1 .more p {
	margin: 0;
	margin-right: 20px;
}


.section1_article2 {
	width: 350px;
	float: left;
}
.section1_article2 h2 {
	background-image: url("../img/h2-confidential-heading-bg.gif");
	padding-left: 20px;
	margin-bottom: 0;
	margin-top: 0;
}
.stars {
	width:350px;
	padding-top: 10px;
}
.stars_wrapper {
	width: 310px;
	margin: auto;
}
.section1_article2 .more {
	background-image: url("../img/h3-confidential-shootingstars-bg.gif");
	background-repeat: no-repeat;
	width: 300px;
	display: flex;
	justify-content: flex-end;
	height: 27px;
}
.section1_article2 .more p {
	margin: 0;
	margin-right: 20px;
}

#conf {
	margin-left: 20px;
}



.section2 {
	margin-top: 20px;
}



.section2_article1 {
	background-color: white;
	width: 340px;
	float: left;
}
.section2_article1 h2 {
	background-image: url("../img/h2-top-movie-trailers-bg.gif");
	margin-top: 0;
}
.section2_article1 img + p {
	margin-top: 4px;
}
.movie_bar_1:hover, .movie_bar_2:hover, .movie_bar_3:hover {
	cursor: pointer;
}
.movie_bar_1 p, .movie_bar_2 p,.movie_bar_3 p {
	font-weight: bold;
	color: blue;
}
.section2_article1_wrapper1 {
	border-bottom: solid 1px grey;
}
.movie_bar_1 {
	height: 25px;
	background-image: url("../img/bg_500_small.png");
	overflow: hidden;
	padding-left: 20px;
}
.movie_bar_1 img {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
.movie_bar_1 p {
	margin-top:  0;
}
.movie_trailer_1 > img {
	float:left;
}
.movie_trailer_1 {
	font-size: 90%;
	padding-left: 20px;
}
.movie_trailer_1 p:first-child {
	margin-left: 110px;
	margin-right: 10px;
}
.movie_info img {
	vertical-align: middle;
}



.section2_article1_wrapper2 {
	border-bottom: solid 1px grey;
}
.movie_bar_2 {
	height: 25px;
	background-image: url("../img/bg_500_small.png");
	overflow: hidden;
	padding-left: 20px;
}
.movie_bar_2 img {
	float: right;
	margin-right: 20px;
	margin-top: -15px;
}
.movie_bar_2 p {
	margin-top:  0;
}
.movie_trailer_2 > img {
	float:left;
}
.movie_trailer_2 {
	font-size: 90%;
	display: none;
	padding-left: 20px;
}
.movie_trailer_2 p:first-child {
	margin-left: 110px;
	margin-right: 10px;
}



.section2_article1_wrapper3 {
	border-bottom: dotted 1px grey;
}
.movie_bar_3 {
	height: 25px;
	background-image: url("../img/bg_500_small.png");
	overflow: hidden;
	padding-left: 20px;
}
.movie_bar_3 img {
	float: right;
	margin-right: 20px;
	margin-top: -15px;
}
.movie_bar_3 p {
	margin-top:  0;
}
.movie_trailer_3 > img {
	float:left;
}
.movie_trailer_3 {
	font-size: 90%;
	display: none;
	padding-left: 20px;
}
.movie_trailer_3 p:first-child {
	margin-left: 110px;
	margin-right: 10px;
}


.select_movie {
	padding-left: 20px;
	margin-top: 10px;
}
.select_movie img {
	vertical-align: middle;
}

.select_movie select {
	width: 200px;
	float: right;
}



.section2_article2 {
	background-color: white;
	width: 340px;
	float: right;
}
.section2_article2 a {
	font-weight: bold;
}
.section2_article2 h2 {
	background-image: url("../img/h2-top-movie-trailers-bg.gif");
	margin-top: 0;
}
.movie_review1 {
	border-bottom: dotted 1px;
	margin-bottom: 10px;
}
.movie_review1_wrapper {
	width: 310px;
	margin: auto;
}
.movie_review1_wrapper > p:last-child {
	clear: both;
}
.movie_review1_wrapper1 p {
	margin: 0;
}
.movie_review1 .rating {
	width: 58px;
	height: 19px;
	float: right;
	background: url("../img/topic-star-ratings.gif") 0 -65px;
}
.movie_review1_wrapper2 {
	padding-bottom: 0;
}
.movie_review1_wrapper2 p {
	margin-bottom: 0;
	margin-left: 110px;
}
.movie_review1_wrapper2 img  {
	float: left;
	margin-bottom: 0;
}
.movie_review1_wrapper > p:last-child {
	margin-top: 0;
}

.movie_review1_wrapper > p:last-child img {
	margin-top: 0;
	vertical-align: middle;
}


.movie_review2 {
	border-bottom: dotted 1px;
}
.movie_review2_wrapper {
	width: 310px;
	margin: auto;
}
.movie_review2_wrapper > p:last-child {
	clear: both;
}
.movie_review2_wrapper1 p {
	margin: 0;
}
.movie_review2 .rating {
	width: 58px;
	height: 19px;
	float: right;
	background: url("../img/topic-star-ratings.gif") 0 -47px;
}
.movie_review2_wrapper2 {
	padding-bottom: 0;
}
.movie_review2_wrapper2 p {
	margin-bottom: 0;
	margin-left: 110px;
}
.movie_review2_wrapper2 img  {
	float: left;
	margin-bottom: 0;
}
.movie_review2_wrapper > p:last-child {
	margin-top: 0;
}

.movie_review2_wrapper > p:last-child img {
	margin-top: 0;
	vertical-align: middle;
}



.movie_list {
	margin-top: 10px;
	padding-top: 0;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}
.movie_list img {
	vertical-align: middle;
}
.movie_list a {
	margin: 0;
}
.movie_list p {
	margin: 0;
}



.aside {	
	width: 270px;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
}
.aside .search {
	margin-left: 12px;
	margin-top: 10px;
}
.aside button {
	background-color:DeepPink;
	color: white;
	font-weight: bold;
}




.nav {
	border-top: dashed 1px white;
	margin-top: 20px;
}
.nav ul {
	display: flex;
	justify-content: space-around;
	color: white;
}
ul a {
	color: white;
}
.nav ul li {
	display: inline;
	text-align: center;
}
.nav_pic {
	width: 50px;
	height: 50px;
	margin: auto;
}
.phone {
	background: url("../img/nav_pic.gif") -6px 0;
}
.wave {
	background: url("../img/nav_pic.gif") -206px 0;
}
.letter {
	background: url("../img/nav_pic.gif") -400px 0;
}
.circle {
	background: url("../img/nav_pic.gif") -596px 2px;
}
.camera {
	background: url("../img/nav_pic.gif") -788px 0;
}



.footer {
	text-align: center;
}
.top {
	float: right;
	margin-top: 0;
	margin-right: 20px;
}