.container {
	font-family: Arial, Helvectica, sans-serif;
	font-size: 11px;
	width: 300px;
	background-color: #e6f3fb;
	padding-top: 5px;
	padding-bottom: 10px;
}
.container_wrapper {
	width: 280px;
	margin: auto;
}



h2 {
	font-size: 12px;
	margin: 0;
}
a {
	color: #0a6395;
	text-decoration: none;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}



#secion1_image1 {
	float: left;
	margin-right: 10px;
}
.section1_wrapper1 {
	border-top: solid 2px #ffa500;
	background-color: white;
	overflow: auto;
}
ul {
	clear: both;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}
li {
	background-color: #faf0bf;
	border-bottom: solid 2px white;
	margin-bottom: 2px;
	padding:  5px;
}



#section2_image1 {
	float: left;
	width: 100px;
	margin-right: 10px;	
}
.article {
	background-color: white;
	overflow: auto;
	border-top: solid 2px #ffa500;
}
.date {
	color: #808080;
}
.section2 .article a {
	text-decoration: underline;
}
.section2_wrapper1 {
	clear: both;
	background-color: #f4f4ec;
	margin-left: 20px;
	overflow: auto;
}
.section2_wrapper1 p {
	float: left;
}
.section2_wrapper1 img {
	float: right;
}



.article_wrapper1 {
	float: left;
	width: 120px;
	margin-left: 20px;
}
.section3 .article img {
	width: 100px;
	float: right;
}
.section3_wrapper1 {
	padding-bottom: 10px;
	border-bottom: solid 1px #cccccc;
	overflow: auto;
}



.section4_wrapper1 {
	border: solid 1px #dadada;
	background-color: white;
	margin-bottom: 10px;
	padding-left: 10px;	
}


















