#container {
	width: 720px;
	height: 600px;
	position: relative;
}


#background {
	position: absolute;
	top: 0;
	left: 0;
}
#canvas {
	margin-right: 0px;
	box-sizing: border-box;	

	position: absolute;
	top: 0;
	left: 0;
}


#control {
	width: 100px;
	height: 500px;

	position: absolute;
	top: 0;
	left: 600px;

	display: flex;
	justify-content: space-around;
}
#control img:hover {
	cursor: pointer;
}
#boom {
	font-size: 300%;
	font-weight: bold;
	color: red;

	position: absolute;
	top: 200px;
	left: 10px;
}
#score {
	font-size: 200%;
	font-weight: bold;
	color: red;
	text-align: center;
}
#score_title {
	font-size: 120%;
	font-weight: bold;
}